<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href = "#">
    <img
      width="250"
      alt="TurnoFacil Logo"
      src="../assets/img/logoTurnoFacil.svg"
      >
  </a>
  
  <div class="spacer"></div>
  <div ng-click>
    <a target="_blank" rel="noopener" routerLink="/registro" title="Login">
      <img  class="alineadoTextoImagenCentro"
            id="login-logo" 
            src="../assets/img/icons8-enter-48.png" 
            alt=""
      >
      Iniciar Sesión
    </a>
    
  </div>
</div>
    

