<div class="content" role="main">

    <!-- Highlight Card -->
    <div class="card highlight-card card-small">
      <h2>¡Bienvenido!</h2>
    </div>
  
    <!-- Next Steps -->
    <h2>¿Que desea hacer?</h2>
  
    <input type="hidden" #selection>
  
    <div class="card-container">
      <button class="card card-small" (click)="selection.value = 'nuevoTurno'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Sacar Turno</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'verTurnos'" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>Ver Próximos Turnos</span>
      </button>
    </div>
</div>