<body>
    <h1>Inicio de Sesión</h1>
    <div class=" login-form">
        <h2>Loguea Aquí</h2>
        <form action="#" method="POST">

            <div class=" form-group">
                <label>Nombre y Apellido:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text" class="form-control" placeholder="Username" required="required" />
                </div>
            </div>
            <div class=" form-group">
                <label>DNI:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Password" required="required" />
                </div>
            </div>
            
            <button type="submit">Login</button>
        </form>
        <p class=" register-p">¿No posee una cuenta?<a href="#" class="register"> Registrese</a></p>
    </div>

</body>