* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 20px;
    cursor: default;
}

input {
    cursor: text;
}

button {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

body {
	width: 100%;
	height: 100%;
}

#interfaz-login {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
    background: url(./images/background1.jpg) no-repeat 0px 0px;
    background-size: cover;
}

#interfaz-login > div {
	padding: 25px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	border-radius: 0 55px 0 55px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

#interfaz-login > div > span {
	font-size: 25px;
}

#interfaz-login > div > div {
    margin-top: 10px;
	display: flex;
	flex-direction: column;
}

#interfaz-login > div > div > * {
	margin: 5px;
	border: 1px solid grey;
	border-radius: 10px;
	padding: 5px 10px 5px 10px;
    box-sizing: border-box;
}

#interfaz-login > div > div > input:focus {
	box-shadow: 0 0 5px 1px grey;
    outline: none;
}

#interfaz-login > div > div > button:hover {
	background: rgba(255, 255, 255, 0.7);
}

#interfaz-general {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
	background: white;
	z-index: 5;
    padding: 20px;
    box-sizing: border-box;
}

#interfaz-general > button {
    margin: 15px 0 15px 0;
}

#h1-proximos-pacientes {
	font-size: 30px;
    font-weight: normal;
    padding: 25px 0 25px 0;
}

#contenedor-turnos {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 768px;
    box-shadow: 0 0 5px grey;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.turno {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;

}

.turno:first-child {
    background:rgba(141, 141, 141, 0.5);
}

.turno:nth-of-type(even) {
    background: rgba(0, 0, 0, 0.1);
}

.turno > * {
    flex: 1;
    padding: 8px 10px 8px 10px;
}

.turno > .nombre-paciente {
    flex: 3;
    padding-left: 10px;
}

.turno > .fecha-turno {
    flex: 1;
}

footer {
	height: 70px;
}

.boton-turno {
	border-radius: 40px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
}

.boton-cancelar {
    background: rgba(247, 64, 64, 0.8);
    margin-right: 5px;
}

.boton-reagendar {
    background: rgba(242, 228, 40, 0.8);
}

#turnos-disponibles {
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    color: white;
    display: none;
}

#turnos-disponibles > div {
    position: absolute;
    display: inline-block;
    padding: 30px;
    border: 2px dashed white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
}

#lista-medicos > * {
    margin: 15px;
}

#lista-turnos-disponibles {
    padding: 10px;
    overflow-y: auto;
    color: white;
    height: 80%;
    margin-top: 30px;
}

#lista-turnos-disponibles > div {
    display: block;
}

#lista-turnos-disponibles > div > div {
    display: inline-block;
    margin-top: 7px;
}

#lista-turnos-disponibles > div > div:nth-child(1) {
    width: 120px;
}

#lista-turnos-disponibles > div > div:nth-child(2) {
    width: 120px;
}

#datos-paciente input {
    display: block;
    margin: 10px;
    padding: 5px 15px 5px 15px;
}

#boton-agendar {
    display: none;
    background: #95CA07;
}